:root {
  --gray-500: hsl(220, 15%, 55%);
  --gray-100: hsl(212, 45%, 89%);
  --blue-500: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 32px;

  background-color: var(--gray-100);
}

body * {
  font-family: "Outfit", sans-serif;
  font-size: 62.5%;
}

main {
  max-width: 400px;
  margin: 0 auto;
}

#card {
  background-color: white;
  text-align: center;
  border-radius: 16px;

  padding: 16px;
  margin: 0 1em;
}

h1 {
  color: var(--blue-500);
  font-size: 1.8rem;
  margin-top: 16px;
  margin-inline: 10px;
}

p {
  font-size: 1.2rem;
  color: var(--gray-500);
  margin-top: 12px;
  margin-inline: 14px;
}

img {
  width: 100%;
  border-radius: 8px;
}

footer {
  font-size: 0.8rem;
  text-align: center;
}

footer a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #2c7cfc;
}

a:hover {
  color: #1953b0;
}

@media (max-width: 375px) {
  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
}